@import "variables";
@import "blocks";
@import "mixins";
@import "global";
@import "typography";
@import "header";
@import "additional";
//@import "fonts";
@import "buttons";
//@import "post";
//@import "forms";
////@import "module-hero";
//@import "module-cta";
//@import "rich-text";
////@import "flickity";
@import "footer";
//@import "utils";
////@import "image-carousel";
//@import "image-spacer";
//@import "blog";
////@import "cta-feature";
//@import "social-block";
//@import "opensea";

/*--------------------------------------------------------------
## GLOBAL
--------------------------------------------------------------*/
@include breakpoint( sm ) {
  .thirds-1-2,
  .thirds-2-1 {
    display: grid;
    grid-column-gap: 50px;
  }

  .thirds-1-2 { grid-template-columns: 1fr 2fr; }
  .thirds-2-1 { grid-template-columns: 2fr 1fr; }
}

@include breakpoint( sm ) {
  .grid-col-2,
  .grid-col-3,
  .grid-col-4,
  .grid-col-5,
  .grid-col-6 {
    display: grid;
    grid-column-gap: 50px;
  }

  .grid-col-2,
  .grid-col-4 { grid-template-columns: 1fr 1fr; }

  .grid-col-3,
  .grid-col-5,
  .grid-col-6 { grid-template-columns: 1fr 1fr 1fr; }

}

@include breakpoint( md ) {

  .grid-col-3 { grid-template-columns: 1fr 1fr 1fr; }

  .grid-col-4 { grid-template-columns: 1fr 1fr 1fr 1fr; }

  .grid-col-5 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }

  .grid-col-6 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
}

.site-header { z-index: 11; }

.site-main { overflow: hidden; position: relative; }

/*--------------------------------------------------------------
## Modules Global
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Plugin Overrides
--------------------------------------------------------------*/

